<!-- cria uma div para organizar os cards da pagina-->
<div class="home__container">
    <!-- chama o component card-->
    <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="PS3"
    gamePrice="R$ 99,99">
    </app-card>
    <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="PS4"
    gamePrice="R$ 149,99">
    </app-card>
    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="GRATIS"
    gameType="PS5"
    gamePrice="R$ 299,99">
    </app-card>
</div>